<!doctype html>
<html lang="en">

<head>
  <title>Concesionario Pirerayen</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="./CSS/style.css">
</head>

<body>
  <header id="header"></header>
  <main>
    <div class="container">
      <h1 id="animated-heading" class="text-center mx-auto ">20 años de experiencia</h1>
      <div id="app" class="row" @click="ocultarDetalles($event)">
        <div v-for="producto in productos" class="col-md-4 mb-4">
          <div class="card border">
            <img :src="producto.imagen" class="card-img-top imagen" alt="Producto">
            <div class="card-body">
              <h5 class="card-title">{{ producto.nombre }}</h5>
              <p class="card-text">Precio: {{ producto.precio }}</p>
              <p class="card-text">Stock: {{ producto.stock }}</p>
              <a href="#" class="btn btn-primary" v-on:click="verDetalles(producto)">Ver detalles</a>

              <!-- Aquí se muestra el detalle del producto -->
              <div v-if="mostrarDetalle && producto === detalleProducto">
                <p>El modelo tiene un motor {{ detalleProducto.motor }} con una cilindrada de {{ detalleProducto.cilindrada }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="./js/main.js"></script>
  <script src="./JS/productos.js"></script>
</body>

</html>
